In [50]:
import os
import json
import pandas as pd
from pandas2arff import pandas2arff
from sklearn.preprocessing import LabelEncoder

def printDF(title, df):
    print "##############################\n    "+title+"    \n##############################\n"
    print "## Shape: ##"
    print df.shape
    print "\n## Missing Values per Column: ##"
    print df.isnull().sum()
    # print "\n## Show data: ##"
    # print df[0:12]
    print "############################## \n\n"

def createDF(file_name):
    # load data from json file
    #working_dir = os.path.dirname(os.path.realpath(__file__)) + '/'
    with open(file_name, "r") as f:
        found_jobs = f.read()
    data = json.loads(found_jobs)

    # normalize because of nested client data
    df = pd.io.json.json_normalize(data)
    df.columns = [c.replace('.', '_') for c in df.columns] # so we can access a column with "data_frame.client_reviews_count"
    return df

In [51]:
data_frame = createDF("found_jobs_4K.json")

printDF("Before changing data", data_frame)

##############################
    Before changing data
##############################

## Shape: ##
(4779, 19)

## Missing Values per Column: ##
budget                                 588
category2                                0
client_country                           0
client_feedback                          0
client_jobs_posted                       0
client_past_hires                        0
client_payment_verification_status    3106
client_reviews_count                     0
date_created                             0
duration                              2730
id                                       0
job_status                               0
job_type                                 0
skills                                   0
snippet                                  0
subcategory2                             0
title                                    0
url                                      0
workload                               997
dtype: int64
##############################

## Remove attributes which have as many values as there are examples

![Useless attributes](images/useless_attributes.jpg)

Removing the `id` attribute could however be problematic, since there it could be useful later, when trying to find similar jobs

In [52]:
unnecessary_columns = ["id", "category2", "job_status", "url"]
data_frame.drop(labels=unnecessary_columns, axis=1, inplace=True)

## Remove attributes which don't add much value but which have too many missing values

In [53]:
bad_columns = ["client_payment_verification_status"]
data_frame.drop(labels=bad_columns, axis=1, inplace=True)

## Remove examples which contribute missing values to attributes with < 30 missing attributes

In [54]:
max_few_missing = 30
columns_few_missing = list(data_frame.columns[data_frame.isnull().sum() < max_few_missing])
data_frame.dropna(subset=columns_few_missing, how='any')

,budget,client_country,client_feedback,client_jobs_posted,client_past_hires,client_reviews_count,date_created,duration,job_type,skills,snippet,subcategory2,title,workload
0,50.0,United Kingdom,5.000000,7,6,3,2017-05-09T18:27:32+0000,None,Fixed,"[data-scraping, web-scraping]",I am looking for some one experinced with webs...,Data Mining & Management,Extract Database from specific website,None
1,0.0,United States,5.000000,6,5,1,2017-05-07T02:35:05+0000,Less than 1 week,Hourly,[],Seeking a mathematician or statistician to hel...,Quantitative Analysis,Mathematical formula/ algorithm modelization,Less than 10 hrs/week
2,500.0,United States,5.000000,3,3,1,2017-05-06T21:36:46+0000,None,Fixed,"[google-analytics, google-tag-manager, javascr...",I currently have an issue with Google Analytic...,Other - Data Science & Analytics,Google Analytics Session Tracking Upgrade,None
3,0.0,United States,0.000000,4,4,2,2017-05-05T19:13:15+0000,Less than 1 week,Hourly,"[data-entry, internet-research, microsoft-exce...",Looking for someone who can quickly research c...,Data Mining & Management,NEED QUICKLY!! FAST RESPONSE WILL BE PRIORITIZ...,Less than 10 hrs/week
4,150.0,United States,5.000000,50,44,4,2017-05-04T17:37:11+0000,None,Fixed,"[data-visualization, excel-vba, microsoft-excel]",Add Pivot tables into dashboard of an existing...,Data Visualization,Excel Pivot tables,None
5,20.0,United States,4.984906,7,21,15,2017-05-04T15:49:47+0000,None,Fixed,"[data-entry, data-mining]",Looking for someone to locate email addresses ...,Data Mining & Management,Find Blogger E-mails,None
6,20.0,United States,5.000000,2,4,1,2017-05-04T03:56:25+0000,None,Fixed,"[excel-vba, microsoft-excel]","I have an array of roughly 42,000 x 2600 pairs...",Data Mining & Management,Calculate array in Excel - distance between tw...,None
7,400.0,United States,5.000000,4,4,3,2017-05-03T14:30:07+0000,None,Fixed,[],I need an application or script written that c...,Data Extraction / ETL,Extract Data From Zillow,None
8,35.0,United States,5.000000,82,72,55,2017-05-03T13:42:03+0000,None,Fixed,"[excel-vba, microsoft-excel]",Look for someone who can help me quickly build...,Data Mining & Management,Microsoft Excel Equation Expert,None
9,100.0,United States,4.983217,7,21,11,2017-05-03T13:41:22+0000,None,Fixed,"[data-entry, data-mining]",Looking for someone to go through excel spread...,Data Mining & Management,Blogger Data and E-mail Mining,None
10,0.0,United States,0.000000,2,2,0,2017-05-03T12:46:51+0000,Less than 1 week,Hourly,"[appforfinance-financial-statement-analysis, f...",Prepare a 5 year financial forecast plan with ...,Data Extraction / ETL,5 year Financial Plan / Projections,10-30 hrs/week
11,20.0,United States,4.874351,55,67,13,2017-05-01T16:55:19+0000,None,Fixed,[sql],I need someone with strong understanding of SQ...,Other - Data Science & Analytics,I need SQL Server 2012 developer,None
12,200.0,United States,5.000000,23,26,16,2017-04-28T20:13:08+0000,None,Fixed,"[blog-writing, copywriting, data-science, jupy...",This project is for a single 400-600 word blog...,Machine Learning,Need an experienced data scientist to write a ...,None
13,75.0,United States,4.972271,54,33,15,2017-04-27T14:30:31+0000,None,Fixed,"[data-scraping, scrapy-framework, web-scraping]",Looking for someone to write a script scrape s...,Data Mining & Management,Need to scrape content from a website,None
14,100.0,Denmark,5.000000,17,12,5,2017-04-27T13:10:40+0000,None,Fixed,"[mathematics, microsoft-excel]",I'm creating a bike app with different feature...,Other - Data Science & Analytics,"Power, velocity, Newton formulas",None
15,25.0,United States,5.000000,6,5,4,2017-04-26T01:23:00+0000,None,Fixed,"[mathematics, microsoft-excel]",I need help in Excel solving a math exponentia...,Other - Data Science & Analytics,Create an excel calculator,None
16,100.0,United States,4.944250,15,19,8,2017-04-25T20:56:16+0000,None,Fixed,[],*must have scraping software that can generate...,Data Mining & Management,Scrape for local businesses contact info,None
17,0.0,United States,5.000000,3,4,2,2017-04-24T18:24:12+0000,Less than 1 month,Hourly,"[data-cleansing, data-entry, database-design]",Hi! I´m a researcher in Economics at Yale Univ...,Data Mining & Management,Need data cleaned,10-30 hrs/week
18,200.0,Australia,5.000000,10,6,3,2017-04-23T08:09:32+0000,None,Fixed,"[data-analysis, excel-vba, microsoft-excel, vi...","Create MS Excel workbook using macros, vba and...",Data Visualization,MS Excel workbook and macros,None
19,0.0,Australia,5.000000,3,7,5,2017-04-23T05:56:27+0000,Less than 1 week,Hourly,"[microsoft-excel, statistics]",Context\n- our product is a hardware device in...,Quantitative Analysis,Data Analysis - Line of Best fit,10-30 hrs/week
20,25.0,Switzerland,4.984933,18,19,16,2017-04-22T12:30:04+0000,None,Fixed,[python],on this homepage\n\nhttps://btc-e.com/bets\n\n...,Data Extraction / ETL,python submit a form,None
21,100.0,United States,5.000000,4,4,2,2017-04-22T04:53:35+0000,None,Fixed,"[python, tableau]",Using the publicly-available data from the Col...,Data Extraction / ETL,Data Extraction and Time series Charts,None
22,0.0,United States,4.997787,18,21,13,2017-04-22T02:01:05+0000,Less than 1 week,Hourly,[],I am looking for an experienced programmer to ...,Data Extraction / ETL,Data Extraction,10-30 hrs/week
23,0.0,United States,5.000000,12,13,6,2017-04-20T17:08:11+0000,Less than 1 week,Hourly,[data-mining],Looking for a data analyst to review two repor...,Data Mining & Management,Create Report Showing Frequently Bought With f...,10-30 hrs/week
24,0.0,Canada,4.990689,13,19,9,2017-04-20T11:44:41+0000,Less than 1 week,Hourly,[],I have an excel file holding the results of a ...,Data Visualization,Need survey results in Excel converted into me...,10-30 hrs/week
25,25.0,Sweden,4.887394,13,13,10,2017-04-19T14:59:33+0000,None,Fixed,"[big-data, data-analysis, r, regression-testin...",R coding for regression and big data ( for a s...,Other - Data Science & Analytics,R coding for regression and big data,None
26,20.0,Ireland,5.000000,2,3,1,2017-04-19T12:06:21+0000,None,Fixed,"[data-scraping, excel-vba]",pull in data from a couple of webpages to exce...,Data Extraction / ETL,pull in data from a webpage to excel 2010,None
27,0.0,United States,5.000000,54,45,29,2017-04-18T15:52:19+0000,1 to 3 months,Hourly,"[excel-vba, microsoft-excel]",Hello! I have an excel spreadsheet i have been...,Other - Data Science & Analytics,Microsoft excel user driven assessment needs c...,10-30 hrs/week
28,0.0,United States,5.000000,14,13,4,2017-04-18T15:17:51+0000,Less than 1 week,Hourly,[],Have an SSIS Script Job launching a C# DLL tha...,Data Extraction / ETL,SSIS Expert with C# experience - Need SSIS Scr...,Less than 10 hrs/week
29,100.0,India,4.959236,136,122,48,2017-04-17T07:29:26+0000,None,Fixed,"[data-entry, data-mining, data-scraping]",I have excel spreadsheets with many website ad...,Data Mining & Management,Send Email Messages via Website Contact Forms,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4749,200.0,United States,4.861629,10,14,8,2015-05-24T16:35:16+0000,None,Fixed,"[data-analysis, data-entry, mathematics, micro...",Solving equations would need to complete assig...,Other - Data Science & Analytics,Math expert,30+ hrs/week
4750,NaN,United States,5.000000,21,24,16,2015-05-24T03:26:38+0000,Less than 1 week,Hourly,"[excel-vba, microsoft-excel]","Hi,\r\n\r\nI would like to build a table of ha...",Data Mining & Management,Excel modeler wanted to overcome Excel's maxim...,Less than 10 hrs/week
4751,40.0,Italy,5.000000,9,6,1,2015-05-23T12:04:51+0000,None,Fixed,[],data analysis,Other - Data Science & Analytics,Data analysis,None
4752,NaN,Australia,4.823159,42,45,19,2015-05-23T09:18:52+0000,Less than 1 month,Hourly,[],Need to obtain information and phone numbers f...,Data Extraction / ETL,Data Scraping,Less than 10 hrs/week
4753,20.0,United States,4.786427,287,210,112,2015-05-22T15:19:35+0000,None,Fixed,[data-entry],Need a typeform created using this:\r\n\r\nhtt...,Data Mining & Management,Need Typeform Created,30+ hrs/week
4754,5.0,Singapore,4.716810,79,148,80,2015-05-22T09:28:41+0000,None,Fixed,[],"2 hour skype interview, text chat only\r\n\r\n...",Other - Data Science & Analytics,DO YOU PLAY GAME OF WAR?,30+ hrs/week
4755,20.0,United States,4.786427,287,210,112,2015-05-22T01:22:45+0000,None,Fixed,[data-mining],Need someone to pull information from a FB pag...,Data Mining & Management,Data Extraction,None
4756,NaN,United States,4.619911,14,11,5,2015-05-21T19:55:22+0000,Less than 1 week,Hourly,[],Are you free for a project which would have yo...,Other - Data Science & Analytics,Terrain selection for cities,Less than 10 hrs/week
4757,80.0,United States,4.802029,104,71,46,2015-05-20T21:46:37+0000,None,Fixed,"[data-scraping, python, web-scraping]",I would like to use to python to screen scrape...,Data Extraction / ETL,Webscrape competitor Site,30+ hrs/week
4758,50.0,United States,4.955661,105,57,26,2015-05-20T12:53:49+0000,None,Fixed,[],I need someone who is an expert in Excel Pivot...,Other - Data Science & Analytics,Excel Pivot Tables,30+ hrs/week
4759,NaN,Australia,4.914674,62,58,39,2015-05-20T05:46:09+0000,Less than 1 month,Hourly,"[business-analysis, data-analysis, economic-an...",We have daily sales data for 4 months of retai...,Quantitative Analysis,Retails SALES analysis,Less than 10 hrs/week
4760,150.0,United States,4.925483,16,11,7,2015-05-19T20:39:02+0000,None,Fixed,"[data-analysis, data-mining, microsoft-excel]",Looking for a professional to organize and tak...,Data Extraction / ETL,Data Scientist,30+ hrs/week
4761,22.0,United States,4.975257,177,1696,1026,2015-05-19T13:55:45+0000,None,Fixed,[],"Hi, \r\nI have a web application that we use f...",Other - Data Science & Analytics,Map Specialist 1,30+ hrs/week
4762,NaN,United States,4.992546,59,41,20,2015-05-18T16:38:17+0000,1 to 3 months,Hourly,[physics],I am looking for someone with a background in ...,Other - Data Science & Analytics,Need Physicist for occasional personal instruc...,Less than 10 hrs/week
4763,NaN,United Kingdom,5.000000,26,20,17,2015-05-18T15:03:30+0000,Less than 1 week,Hourly,"[seo, social-media-marketing, website-developm...","Hi all,\r\n\r\nI'm going to be launching a new...",Other - Data Science & Analytics,SEO for new website,Less than 10 hrs/week
4764,NaN,Denmark,4.978776,49,48,33,2015-05-18T08:58:53+0000,Less than 1 month,Hourly,[research],Dear Freelancers\r\n\r\nI am looking for freel...,Data Mining & Management,Competitor Research,Less than 10 hrs/week
4765,20.0,Jordan,4.534285,92,39,31,2015-05-18T07:59:31+0000,None,Fixed,"[algorithms, matlab]","Hi,\r\n\r\nI need to write two codes using mat...",Other - Data Science & Analytics,Solving Job Shop Scheduling Problem - using Ta...,30+ hrs/week
4766,30.0,United States,4.992604,9,11,8,2015-05-17T19:51:06+0000,None,Fixed,"[minitab, quantitative-analysis, stata, statis...",Tutoring needed on using Minitab. Will have a ...,Quantitative Analysis,Tutoring needed on Minitab,30+ hrs/week
4767,NaN,United States,4.916376,20,16,10,2015-05-16T13:11:56+0000,Less than 1 week,Hourly,[],I think this is simple. I have zip codes for ...,Data Visualization,Map Zip Codes of Homeowners,Less than 10 hrs/week
4768,50.0,United States,4.111461,90,63,19,2015-05-15T23:08:18+0000,None,Fixed,[],We are seeking someone to scrap a website for ...,Data Extraction / ETL,Email Harvesting,30+ hrs/week
4769,35.0,United States,4.609847,122,111,36,2015-05-15T22:56:22+0000,None,Fixed,"[data-scraping, web-scraping]",Very simple job for the right person.\r\n\r\nW...,Data Extraction / ETL,"Web Scraping , Data Extraction",30+ hrs/week
4770,80.0,Australia,4.571752,20,13,10,2015-05-15T04:56:40+0000,None,Fixed,"[data-entry, microsoft-word, word-processing]",I am looking for the order and creation of 3 w...,Data Extraction / ETL,"Crossword clues and definitions for 85,000 wor...",30+ hrs/week
4771,50.0,Russia,5.000000,4,2,1,2015-05-13T20:38:07+0000,None,Fixed,"[academic-writing, data-analysis, english, ibm...",I need a person who will check my script of SP...,Other - Data Science & Analytics,To check SPSS script and make cluster analysis,30+ hrs/week
4772,50.0,United States,4.776608,11,11,10,2015-05-13T20:29:41+0000,None,Fixed,"[application-programming, javascript, web-prog...",== Qualifications ==\r\n\r\n1) basic computer ...,Machine Learning,Use Coursera to learn some Machine Learning an...,30+ hrs/week
4773,NaN,United States,3.787322,64,17,10,2015-05-13T16:53:30+0000,Less than 1 month,Hourly,"[mysql, r]",I work in SQL\r\nneed help setting up Time Ser...,Quantitative Analysis,"RStudio R,Time series , Sql",Less than 10 hrs/week
4774,40.0,Germany,4.961999,71,56,31,2015-05-13T12:52:54+0000,None,Fixed,[microsoft-excel],"Dear Applicant,\r\n\r\nI need an Excel Special...",Data Mining & Management,Excel,None
4775,NaN,New Zealand,4.897628,87,25,20,2015-05-13T09:02:25+0000,Less than 1 week,Hourly,"[data-analysis, excel-vba, microsoft-access, m...",Looking for someone who is expert in excel\r\n...,Other - Data Science & Analytics,Excel template and excel vba coding,10-30 hrs/week
4776,140.0,Estonia,4.804933,5420,4227,2537,2015-05-13T02:16:41+0000,None,Fixed,[],I would need the following:Requirements specif...,Other - Data Science & Analytics,Data Analysis Project for Dissertation 3hjh2hh...,30+ hrs/week
4777,NaN,Ireland,4.503427,117,97,55,2015-05-12T18:33:46+0000,3 to 6 months,Hourly,[],I require a contract to help develop a times s...,Other - Data Science & Analytics,Help write macro to calculate time sheets.,10-30 hrs/week
4778,300.0,Canada,4.908482,95,169,137,2015-05-12T15:36:00+0000,None,Fixed,"[image-processing, ocr-algorithms, ocr-tessera...",We have hundreds of thousands of images contai...,Machine Learning,Script to OCR numbers from screenshots w/90%+ ...,30+ hrs/week

## Set feedback to None on examples where the client has not yet received a review

In [55]:
data_frame.loc[data_frame.client_reviews_count == 0, 'client_feedback'] = None

## Set budget to None if it is 0 (jobs without a budget cannot exist)

In [56]:
data_frame.loc[data_frame.budget == 0, 'budget'] = None

## Convert nominal attributes to numerical

This is done to make them available to all regression models - especially models that would not accept nominal attributes.

The following attributes seem interesting for this conversion:
![Nominal attributes to be converted](images/nominal_to_numeric.jpg)

In [57]:
clientCountryEncoder = LabelEncoder()
data_frame['client_country'] = clientCountryEncoder.fit_transform(data_frame['client_country'].astype('str'))
durationEncoder = LabelEncoder()
data_frame['duration'] = durationEncoder.fit_transform(data_frame['duration'].astype('str'))
jobTypeEncoder = LabelEncoder()
data_frame['job_type'] = jobTypeEncoder.fit_transform(data_frame['job_type'].astype('str'))
subcategory2Encoder = LabelEncoder()
data_frame['subcategory2'] = subcategory2Encoder.fit_transform(data_frame['subcategory2'].astype('str'))
workloadEncoder = LabelEncoder()
data_frame['workload'] = workloadEncoder.fit_transform(data_frame['workload'].astype('str'))

## Convert the `date_created` attribute into a delta between the date created and the time now and rename it to `posting_age`

In [58]:
import iso8601
import datetime
from dateutil import tz

now = datetime.datetime.now(tz.gettz("Europe/Zurich"))
dates = []
for date in data_frame['date_created']:
    dates.append(now - iso8601.parse_date(date))

data_frame['date_created'] = [date.seconds for date in dates]
data_frame.rename(columns={'date_created': 'posting_age'}, inplace=True)

In [59]:
printDF("After changing data", data_frame)

##############################
    After changing data
##############################

## Shape: ##
(4779, 14)

## Missing Values per Column: ##
budget                  2049
client_country             0
client_feedback          133
client_jobs_posted         0
client_past_hires          0
client_reviews_count       0
posting_age                0
duration                   0
job_type                   0
skills                     0
snippet                    0
subcategory2               0
title                      0
workload                   0
dtype: int64
##############################